*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(238, 235, 229);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3
{
    color: rgb(73, 37, 32);
}

header
{
    background-color: rgb(206, 189, 183);
    color: rgb(212, 189, 184);
    text-align: center;
}

aside {
    width: 300px;
    padding: 10px;  
    float: left; 
    text-align: left;  
    background-color: rgb(206, 189, 183);
    margin-right: 20px; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(206, 189, 183);
    color: rgb(73, 37, 32);
    text-align: center;
    padding: 10px;
}
