*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('./fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  color: aliceblue;
  text-shadow: 0 0 2px white;
  background: linear-gradient(to bottom, #a91d1d, #230000);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'VCR OSD Mono', 'Century Gothic', Arial, Helvetica, sans-serif;
}


.header
{
    text-align: center;
    color: aliceblue;
    text-shadow: 0 0 2px white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


/* .grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    justify-items: center;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  max-width: 1000px; 
  gap: 10px;


.tarjeta
{
    color: aliceblue;
    display: grid;
    padding: 1em;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    gap: 1px;
}

.spotify
{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 750px;
}

.phantom {
  visibility: hidden;
}

a
{
    color: white;
}