*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header
{
  background-color: red;
  color: white;
  text-align: center;
  padding: 1em;
  margin: 0;
  width: 100%;
  height: 100px;
}

body
{
    font-family: 'Century Gothic Thin',Arial;
    background-color: #e0e9ef;
    height: 100vh;
    width: 100vw;
    display: flex;

}

main
{
 width: 60%;
 background-color: white;

}


aside
{
    background-color: rgb(26, 68, 94);
    color: white;
    width: 40%;
    height: 100%;
}


img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil
{
    /**height: 200px;*/
    width: 100%;
    background-color: rgb(18, 81, 118);
    color: white;
    display: grid;
    place-items: center;
    padding: 10px;
    .foto
    {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 1em;
        overflow: hidden;
    }

    .datos
    {
        text-align: center;
    }
}

.datosPersonales
{
    width: 100%;
    height: 150px;
    background-color: rgb(26, 117, 170);
    padding: 1em;
    .listaDP
    {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        li
        {
            list-style: none;
        }
    }
}

.redes {
    width: 100%;
    height: 150px;
    background-color: rgb(26, 103, 157);
    padding: 1em;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;

    ul
    {
        display: contents;
        list-style: none;
    }
    
    i {
        font-size: 1.5em;
        color: #F4F4F4;
    }
    
}


.educacion
{
    width: 100%;
    height: auto;
    background-color: rgb(26, 98, 135);
    padding: 1em;

    li
    {
        list-style: none;
    }
}


.aptitudes
{
    width: 100%;
    height: auto;
    background-color: rgb(18, 69, 95);

    li
    {
        list-style: none;
    }
}


.video
{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contenedorFlexbox
{
    display: flex;
    flex-direction: column;
    background-color: rgb(56, 105, 146);
    overflow: auto;
    gap: 10px;    
}

.tarjeta
{
    /* flex-grow: 1px;
    flex-shrink: 1px;
    flex-basis: 100%;
    flex: 0px 0px 100%; */
    background-color: rgb(22, 107, 156);
    color: white;
    border-radius: 1em;
    padding: 1em;
}

.tarjetaTitulo
{
    font-size: 1.5em;
    font-weight: bold;
}

.tarjetaContenido
{
    font-size: 1em;
    background-color: rgb(139, 173, 201);
    color: white;
    padding: 1em;
    border-radius: 1em;
}

a
{
    color: white;
}