*
{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    align-items: center;
}

contenedorTarjeta
{
    height: 500px;
    width: 300px;
    border-radius: 10px;
}

cabecera
{
    width: 100%;
    height: 300;
    color: aqua;
}